.first-section-wrapper {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    flex-direction: column;
    align-items: center;
}

.first-section {
    display: flex;
    flex-direction: column;
    width: 800px;
}

.header {
    font-family: Roboto;
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
    display: flex;
    align-items: center;
}

.header-links {
    display: flex;
    align-items: center;
    font-size: 18px;
}

a {
    text-decoration: none;
    padding: 10px;
    color: #f9faf8;
}

.hero-main-text {
    font-size: 48px;
    font-family: Roboto;
    font-weight: 900;
}

button {
    background-color: #3882f6;
    border-radius: 8px;
    color: #f9faf8;
    width: 100px;
    height: 30px;
}

.first-subsection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 480px;
}

.left-side-first-section {
    display: flex;
    flex-direction: column;
    width: 4000px;
}

.right-side-first-section {
    display: flex;
    background-color: grey;
}

.secondary-text {
    font-size: 18px;
}

.second-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.random-info {
    display: flex;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}
.random-image {
    width: 160px;
    height: 160px;
    border-color: #3882f6;
    border-style: solid;
    border-radius: 8px;
}

.illustrations {
    display: flex;
    justify-content: center;
}

.illustration {
    display: flex;
    flex-direction: column;
    width: 160px;
    margin: 20px;
    text-align: center;
}

.third-section-wrapper {
    display: flex;
    background-color: #e5e7eb;
    height: 380px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    margin: 0px;
}

.quote {
    display: flex;
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
}

.thor {
    display: flex;
    justify-content: right;
    font-weight: bold;
}

.third-section {
    display: flex;
    flex-direction: column;
    width: 800px;
}

.fourth-section-wrapper {
    display: flex;
    height: 250px;
    justify-content: center;
    align-items: center;
}

.fourth-section {
    background-color: #3882f6;
    width: 900px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    border-radius: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.call-to-action {
    display: flex;
    flex-direction: column;
    color: white;
}

.button-fourth-section {
    display: flex;
    justify-content: flex-end;
}

.cta {
    font-weight: bold;
}

.button-two {
    border-color: white;
    border-style: solid;
    font-weight: bold;
}

.footer {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    height: 80px;
    justify-content: center;
    align-items: center;
}